<launch>
    <arg name="map_file" value="/home/pi/catkin_ws/src/slambot/map/zone01.yaml">
    </arg>
    <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)">
    </node>
    <include file="$(find slambot)/launch/amcl.launch"/>
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find slambot)/rviz/rviz.rviz" />
</launch>
